@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  box-sizing: border-box;
}

main {
  height: 100vh;
}

.fill-height {
  height: 100%;
}

.container {
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
